force-app/main/default/flows/capture_credit_card_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>varAssignment</name>
        <label>varAssignment</label>
        <locationX>987</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>CreditCardNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expirydate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CVVnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVV_Number</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>capture credit card details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>capture credit card details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>credit_card_screen</name>
        <label>credit card screen</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>varAssignment</targetReference>
        </connector>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;XXXX-XXXX-XXXX-XXXX&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiry_Date</name>
            <dataType>String</dataType>
            <fieldText>Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;MM/YY&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CVV_Number</name>
            <dataType>Number</dataType>
            <fieldText>CVV Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>credit_card_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditCardNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CVVnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>expirydate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
